.secondSectionCart_main_parent_div {
  /* text-align: left; */
  margin-top: 40px;
}
.secondSectionCart_parent_div {
  /* text-align: left; */
  height: 300px;
}
.icon_div {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: auto;
}
.icon {
  font-size: 40px;
}
.secondSectionCart_image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1536px) {
  .secondSectionCart_parent_div {
    height: 270px;
  }
}
@media screen and (max-width: 1313px) {
  .secondSectionCart_parent_div {
    height: 250px;
  }
}
@media screen and (max-width: 1230px) {
  .secondSectionCart_parent_div {
    height: 220px;
  }
}
@media screen and (max-width: 985px) {
  .secondSectionCart_parent_div {
    height: 200px;
  }
}

@media screen and (max-width: 750px) {
  .secondSectionCart_parent_div {
    height: 250px;
  }
}
@media screen and (max-width: 650px) {
  .secondSectionCart_parent_div {
    height: 230px;
  }
}
@media screen and (max-width: 550px) {
  .secondSectionCart_parent_div {
    height: 180px;
  }
}
@media screen and (max-width: 500px) {
  .secondSectionCart_parent_div {
    height: 350px;
  }
}
@media screen and (max-width: 450px) {
  .secondSectionCart_parent_div {
    height: 300px;
  }
}
@media screen and (max-width: 350px) {
  .secondSectionCart_parent_div {
    height: 250px;
  }
}
@media screen and (max-width: 300px) {
  .secondSectionCart_parent_div {
    height: 200px;
  }
}
@media screen and (max-width: 250px) {
  .secondSectionCart_parent_div {
    height: 180px;
  }
}
