.thirdSection_div {
  margin-top: 100px;
}
.thirdSection_div h1 {
  font-size: 40px;
}
.thirt_section_grid_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  margin: auto;
  margin-bottom: 50px;
}
.thirdSection_first_cart_div {
  margin: auto;
  background-image: url("../../accets/ThirdSectionPhoto/photoOne.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 300px;
  width: 350px;
  position: relative;
  border-radius: 10px;
}
.thirdSection_second_cart_div {
  margin: auto;
  background-image: url("../../accets/ThirdSectionPhoto/photoTwo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 300px;
  width: 350px;
  position: relative;
  border-radius: 10px;
}
.thirdSection_third_cart_div {
  margin: auto;
  background-image: url("../../accets/ThirdSectionPhoto/photoThree.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 300px;
  width: 350px;
  position: relative;
  border-radius: 10px;
}
.thirdSection_first_cart_text_div {
  text-align: left;
  bottom: 10px;
  position: absolute;
  left: 10px;
}
.third_section_p {
  font-size: 20px;
  font-weight: 500;
}
.faArrowRight {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 1450px) {
  .thirt_section_grid_div {
    gap: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .thirt_section_grid_div {
    width: 80%;
    gap: 20px;
  }
}
@media screen and (max-width: 1300px) {
  .thirt_section_grid_div {
    width: 100%;
    gap: 0px;
  }
}
@media screen and (max-width: 1050px) {
  .thirt_section_grid_div {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 50px;
  }
  .thirdSection_first_cart_div {
    height: 300px;
    width: 100%;
  }
  .thirdSection_second_cart_div {
    height: 300px;
    width: 100%;
  }
  .thirdSection_third_cart_div {
    height: 300px;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .thirt_section_grid_div {
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  .thirt_section_grid_div {
    grid-template-columns: repeat(1, 1fr);
    width: 98%;
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  .thirdSection_div h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  .thirdSection_div h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 300px) {
  .thirdSection_div h1 {
    font-size: 22px;
  }
}
