.firstSection_parent_div {
  margin-top: 100px;
}
.firstSection_parent_div h1 {
  font-size: 40px;
  margin-bottom: 50px;
}
.firstSection_grid_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: auto;
  gap: 20px;
}
@media screen and (max-width: 1150px) {
  .firstSection_grid_div {
    width: 85%;
  }
}
@media screen and (max-width: 1050px) {
  .firstSection_grid_div {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .firstSection_grid_div {
    width: 98%;
  }
}
@media screen and (max-width: 750px) {
  .firstSection_grid_div {
    grid-template-columns: repeat(2, 1fr);
  }
  .firstSection_parent_div h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 600px) {
  .firstSection_parent_div h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .firstSection_grid_div {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .firstSection_parent_div h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  .firstSection_parent_div {
    margin-top: 50px;
  }
  .firstSection_parent_div h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .firstSection_parent_div {
    margin-top: 50px;
  }
  .firstSection_parent_div h1 {
    font-size: 18px;
  }
}
